@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.table > tbody > tr > th {
  @apply bg-base-200;
}
.table > thead > tr > th {
  @apply bg-base-300;
}
.timeline {
  height: 30px /* 24px */;
  width: calc(100% + 4px);
  cursor: ew-resize;
  appearance: none;
  overflow: hidden;
  background-color: transparent;
  margin: 0 -2px;
}
.timeline::-webkit-slider-runnable-track {
  height: 0.5rem /* 8px */;
  width: 100%;
  background-color: transparent;
}
.timeline::-moz-range-track {
  height: 0.5rem /* 8px */;
  width: 100%;
  background-color: transparent;
}
.timeline::-webkit-slider-thumb {
  background-color: red;
  position: relative;
  height: 40px;
  width: 4px;
  appearance: none;
  -webkit-appearance: none;
  top: 50%;
  transform: translateY(-50%);
}
.timeline::-moz-range-thumb {
  background-color: red;
  position: relative;
  height: 40px;
  width: 4px;
  appearance: none;
  -webkit-appearance: none;
  top: 50%;
  transform: translateY(-50%);
}

.moveable-origin {
  display: none;
}

.btn-primary {
  @apply bg-primary hover:bg-primary-600 duration-150 px-2 py-1 rounded-md cursor-pointer text-primary-content;
}
.btn-ghost {
  @apply bg-base-content text-base-content bg-opacity-0 hover:bg-opacity-25 duration-150 p-1 rounded-md cursor-pointer;
}
.btn-ghost:disabled {
  @apply opacity-20 cursor-default;
}
