@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
body {
  font-family: "Roboto", sans-serif;
}
.panel {
  @apply bg-base-100 rounded-lg shadow-lg;
}

.timeline {
  height: 30px /* 24px */;
  width: calc(100% + 4px);
  cursor: ew-resize;
  appearance: none;
  overflow: hidden;
  background-color: transparent;
  margin: 0 -2px;
}
.timeline::-webkit-slider-runnable-track {
  height: 0.5rem /* 8px */;
  width: 100%;
  background-color: transparent;
}
.timeline::-moz-range-track {
  height: 0.5rem /* 8px */;
  width: 100%;
  background-color: transparent;
}
.timeline::-webkit-slider-thumb {
  background-color: red;
  position: relative;
  height: 40px;
  width: 4px;
  appearance: none;
  -webkit-appearance: none;
  top: 50%;
  transform: translateY(-50%);
}
.timeline::-moz-range-thumb {
  background-color: red;
  position: relative;
  height: 40px;
  width: 4px;
  appearance: none;
  -webkit-appearance: none;
  top: 50%;
  transform: translateY(-50%);
}

:root {
  color-scheme: dark;
}
